// HEADER STYLES
.site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    &.is-sticky {
    	position: fixed;
    	background-color: rgba(255,255,255,0.9);
    	transform: traslateY(-50px);
		transition: all ease-in 0.6s;
    }
	.navbar-default {
		margin-bottom: 0;
		padding: 20px 0;
		background: linear-gradient(to bottom, rgba(255,255,255,0.5) -40%,rgba(255,255,255,0) 100%);
		border: 0;
		.navbar-nav {
			margin-bottom: 10px;
			@include media-breakpoint-up(sm) {
				float: right;
				margin-bottom: 0;
				margin-top: 3px;
				clear: both;
			}
			> li {
				margin-bottom: 25px;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					left: 0;
					bottom: -6px;
					width: 0;
					height: 2px;
					background-color: $primarycolor;
					transition:width ease-in 0.6s;
				}
				@include media-breakpoint-up(sm) {
					margin-bottom: 0;
					margin-right: 44px;
				}
				> a {
					font-size: 14px;
					color:$headercolor;
					padding: 0;
					margin: 0;
					text-transform: uppercase;
					@include media-breakpoint-up(sm) {
						text-transform: capitalize;
					}
				}
				&:hover {
					> a {
						color:$primarycolor;
					}
					&:after {
						width: 100px;
						@include media-breakpoint-up(sm) {
							width: 60px;
							
						}
					}
				}
			}
		}
		.navbar-toggle {
			right: 10px;
			top: 4px;
			z-index: 99;
			position: fixed;
			min-width: inherit;
			background: transparent;
			border-color: transparent;
			cursor: pointer;
			&.collapsed {
				position: absolute;
				.icon-bar {
					&:nth-child(2) {
						transform: rotate(0deg) translateX(0px);
						transform-origin: left;
					}
					&:nth-child(3) {
						opacity: 1;
						width: 26px;
					}
					&:nth-child(4) {
						transform: rotate(0deg) translateX(0px);
						transform-origin: left;
					}
				}
			}
			.icon-bar {
				display: block;
				width: 26px;
				height: 3px;
				border-radius: 0;
				background-color: #333;
				transition: 0.6s all;
				transition-delay: 0.5s;
				&:nth-child(2) {
					transform: rotate(45deg) translateX(-3px);
					transform-origin: left;
				}
				&:nth-child(3) {
					opacity: 0;
					width: 0;
					transition: 0.2s all;
					transition-delay: 0.5s;
				}
				&:nth-child(4) {
					transform: rotate(-45deg) translateX(-3px);
					transform-origin: left;
				}
			}
		}
  	}

	.navbar-collapse {
		display: flex;
		flex-direction: column;
		right: -100%;
		position: fixed;
		top: 0;
		width: 280px;
		overflow-y: scroll;
		background: white;
		border: 0;
		box-shadow: none;
		transition: right ease-in 0.35s;
		padding: 30px 20px 0;
		z-index: 1;
		-webkit-overflow-scrolling: touch;
		@include media-breakpoint-up(sm) {
			position: relative;
			right: 0;
			padding: 0;
			background: transparent;
			display: block;
			width: auto;
		}
		&.in {
			right: 0;
		}
  	}

	.collapse,
	.collapsing,
	.in {
		height: 100vh !important;
		@include media-breakpoint-up(sm) {
			display: block;
			height: auto !important;
			float: right;
		}
	}

  	.navbar-brand {
		padding: 0;
		height: auto;
		float: none;
		.l-icon {
			max-width: 180px;
			max-height: 25px;
		}
  	}
}
