header(class="site-header")
	nav.navbar.navbar-default.navbar-static-top
		.container-fluid
			.nav-wrap
				.navbar-header
					button.navbar-toggle.collapsed(type='button', aria-label="Toggle mobile menu", data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar',data-aos="slide-left", data-aos-duration="600")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					.navbar-brand( itemscope, itemtype="http://schema.org/Organization", data-aos="slide-right", data-aos-duration="600")
						a( itemprop="url", href="#", aria-label="logo")
							+svgicon('logo')
				#navbar.navbar-collapse.collapse
					ul.nav.navbar-nav(itemscope, itemtype="http://schema.org/SiteNavigationElement", role="menubar", aria-label="Site Menubar", data-aos="slide-left", data-aos-duration="600")
						li(role="presentation", class=(page=="home") ? 'active' : '')
							a(itemprop="url", href='#',role="menuitem", aria-haspopup="false", tabindex="0") 
								span(itemprop="name") home
						li(role="presentation", class=(page=="about") ? 'active' : '')
							a(itemprop="url", href='#',role="menuitem", aria-haspopup="false", tabindex="-1") 
								span(itemprop="name") about
						li(role="presentation", class=(page=="services") ? 'active' : '')
							a(itemprop="url", href='#',role="menuitem", aria-haspopup="false", tabindex="-1") 
								span(itemprop="name") services
						li(role="presentation", class=(page=="projects") ? 'active' : '')
							a(itemprop="url", href='#',role="menuitem", aria-haspopup="false", tabindex="-1") 
								span(itemprop="name") projects
						li(role="presentation", class=(page=="contact") ? 'active' : '')
							a(itemprop="url", href='#',role="menuitem", aria-haspopup="false", tabindex="-1") 
								span(itemprop="name") contact

