.generic {
	a,
	.link {
		text-decoration: underline;
		color: $textcolor;
		&:hover {
			color:$primarycolor;
			text-decoration: none;
		}
	}
	h2 {
		font-size: rem(38);
		text-transform: capitalize;
		margin-bottom: 12px;
	}
	h3 {
		font-size: rem(22);
		text-transform: capitalize;
	}
	p {
		line-height: 1.7;
		font-size: 14px;
		margin-bottom: 25px;
	}
}