//generic
.generic(data-aos="fade-up", data-aos-duration="1200")
	article
		h2.generic__primary-title Lorem ipsum dolor sit amet.
		.generic__body
			p Lorem ipsum dolor sit amet, <a class="link" href="#">consectetur</a> adipisicing elit. Nemo, odio, libero. Maxime facere ea sapiente quam perferendis deleniti rem ad, magnam, architecto odio asperiores aliquam impedit. Et, deserunt. Aut explicabo, voluptas? Minus, cupiditate. Omnis beatae, suscipit, aliquid repellendus quam repellat.
			h3 quisquie	convallis mauris
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perferendis dolor, ex, aliquam ad, modi neque illo recusandae nesciunt, quam veritatis corporis. Ratione, sed, laborum.
			h3 curabitur ullamcorper sem sollicitudin
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perferendis dolor, ex, aliquam ad, modi neque illo recusandae nesciunt, quam veritatis corporis. Ratione, sed, laborum.