extend ../masterpage/master
block body
	main.content-wrapper(itemscope, itemtype="http://schema.org/WebPage")
		div.section
			block spotlight
		div.section
			.container-fluid
				.row
					.col-sm-12
						block gallery    
		div.section
			.container-fluid
				.row
					.col-sm-11.col-sm-offset-1
						block generic    
		div.section.section--carousel
			.container-fluid
				.row
					.col-sm-12
						block slider    
		div.section
			block highlight    
		div.section.section--tabs
			.container-fluid
				.row
					.col-sm-12
						block tab

