/* font */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
html, body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
  color: #333;
}

body.ms-backgroundImage {
  background: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  table-layout: fixed;
}

*:focus,
a:focus {
  outline: 0;
}

::-ms-clear {
  display: none;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}

a:hover,
a:link:hover,
a:visited:hover,
a:active:hover {
  text-decoration: none;
}

.l-icon {
  vertical-align: middle;
}

.slick-slider .slick-arrow,
.slick-slider button.slick-arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid transparent;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  outline: 0;
  transition: 0.8s background;
  background: url(../images/icons-svg/arrow.svg) no-repeat center center;
}

.slick-slider .slick-arrow:after,
.slick-slider button.slick-arrow:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width ease-in 0.6s;
}

.slick-slider .slick-arrow:hover:after,
.slick-slider button.slick-arrow:hover:after {
  width: 35px;
}

.slick-slider .slick-arrow.slick-prev,
.slick-slider button.slick-arrow.slick-prev {
  left: 25px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slick-slider .slick-arrow.slick-prev:after,
.slick-slider button.slick-arrow.slick-prev:after {
  top: 11px;
  left: auto;
  right: 7px;
}

.slick-slider .slick-arrow.slick-next,
.slick-slider button.slick-arrow.slick-next {
  right: 25px;
}

.slick-slider .slick-arrow.slick-next:after,
.slick-slider button.slick-arrow.slick-next:after {
  top: 11px;
  left: auto;
  right: 7px;
}

.slick-slider .slick-arrow.slick-disabled,
.slick-slider button.slick-arrow.slick-disabled {
  background: #999 !important;
}

.slick-slider .slick-dots {
  margin-top: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-slider .slick-dots li {
  float: none;
  margin: 0 2px;
}

.slick-slider .slick-dots button {
  background-color: #cbcbcb;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 0;
  font-size: 0;
  line-height: 0;
  min-width: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .slick-slider .slick-dots button {
    width: 12px;
    height: 12px;
  }
}

.slick-slider .slick-dots .slick-active button {
  background-color: #333;
}

[dir="rtl"] .slick-slide {
  float: left;
}

.mfp-zoom-out-cur {
  cursor: pointer;
}

.l-cover-image {
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .l-cover-image {
    background-attachment: fixed;
    height: 690px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  margin-bottom: 30px;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

form .form-control {
  box-shadow: none;
}

form .form-control.error {
  border-color: #f14a4a;
}

form label {
  font-size: 0.875rem;
  font-weight: normal;
}

form .error__message {
  display: none;
  font-size: 12px;
  color: darkred;
}

form .form-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  form .form-wrapper {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

form .form-wrapper .form-group {
  margin-bottom: 10px;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

@media (min-width: 768px) {
  form .form-wrapper .form-group:first-child {
    margin-right: 20px;
  }
}

html form input[type="text"].form-control::-webkit-input-placeholder,
html form input[type="email"].form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.l-btn,
a.l-btn,
.btn {
  position: relative;
  vertical-align: middle;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #fff;
  line-height: 1;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
  font-weight: 700;
  padding: 13px 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.8s;
  background: #3f9ae9;
  cursor: pointer;
}

.l-btn:before, .l-btn:after,
a.l-btn:before,
a.l-btn:after,
.btn:before,
.btn:after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: 0.8s;
  box-sizing: border-box;
}

.l-btn:before,
a.l-btn:before,
.btn:before {
  border-bottom: 1px solid #3f9ae9;
  border-left: 1px solid #3f9ae9;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.l-btn:after,
a.l-btn:after,
.btn:after {
  border-top: 1px solid #3f9ae9;
  border-right: 1px solid #3f9ae9;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
}

.l-btn:hover,
a.l-btn:hover,
.btn:hover {
  border: 1px solid rgba(255, 255, 255, 0);
  color: #3f9ae9;
  background: rgba(255, 255, 255, 0);
}

.l-btn:hover:before, .l-btn:hover:after,
a.l-btn:hover:before,
a.l-btn:hover:after,
.btn:hover:before,
.btn:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.l-btn--white,
a.l-btn--white,
.btn--white {
  background: white;
  color: #3f9ae9;
}

.l-btn--white:hover,
a.l-btn--white:hover,
.btn--white:hover {
  background: transparent;
  color: #FFF;
}

.l-btn--white:after, .l-btn--white:before,
a.l-btn--white:after,
a.l-btn--white:before,
.btn--white:after,
.btn--white:before {
  border-color: white;
}

.mfp-close-btn-in button.mfp-close {
  position: fixed;
  right: 0;
  top: 0;
  background: transparent;
  opacity: 1;
  cursor: pointer;
  color: #FFF;
  width: 50px;
  height: 50px;
  line-height: 1;
  font-size: 2em;
  font-family: initial;
}

.mfp-close-btn-in button.mfp-arrow {
  background: url(../images/icons-svg/arrow.svg) no-repeat 0;
  opacity: 1;
  width: 22px;
  height: 22px;
  margin: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  min-width: auto;
}

.mfp-close-btn-in button.mfp-arrow:before, .mfp-close-btn-in button.mfp-arrow:after {
  display: none;
}

.mfp-close-btn-in button.mfp-arrow.mfp-arrow-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 20px;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.mfp-close-btn-in button.mfp-arrow.mfp-arrow-right {
  right: 20px;
}

.container-fluid {
  max-width: 942px;
  padding: 0 15px;
}

@media (min-width: 992px) {
  .container-fluid {
    padding: 0;
  }
}

.section {
  margin-bottom: 100px;
}

.section--tabs {
  margin-bottom: 125px;
}

.section--carousel {
  margin-bottom: 45px;
}

/*@import start*/
.carousel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel ul li {
  float: left;
  display: inline-block;
}

.carousel img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel--home {
  margin: 0 -10px;
}

.carousel--home .slick-slide {
  margin: 0 10px;
}

.carousel--home .slick-slide img {
  max-height: 640px;
}

footer {
  background-color: #3f9ae9;
  padding: 75px 0;
  color: #FFF;
}

footer h3 {
  font-size: 1.75rem;
  text-transform: capitalize;
}

.gallery ul {
  margin: 0 -10px;
}

.gallery ul li {
  margin: 0 10px 20px;
  float: left;
  list-style: none;
  width: calc(100% - 20px);
}

@media (min-width: 480px) {
  .gallery ul li {
    width: calc(50% - 20px);
  }
}

@media (min-width: 768px) {
  .gallery ul li {
    width: calc(33.333% - 20px);
  }
}

.gallery ul .gallery__item {
  position: relative;
  width: 100%;
}

.gallery ul .gallery__item:hover .gallery__content {
  visibility: visible;
  opacity: 1;
  transition: opacity ease-in 0.4s;
}

.gallery ul .gallery__item:hover .gallery__content h3, .gallery ul .gallery__item:hover .gallery__content p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: -webkit-transform ease-in 0.6s;
  transition: transform ease-in 0.6s;
  transition: transform ease-in 0.6s, -webkit-transform ease-in 0.6s;
}

.gallery ul .gallery__content {
  visibility: hidden;
  transition: opacity ease-in 0.4s;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 173, 255, 0.8);
  color: white;
}

.gallery ul .gallery__content-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery ul .gallery__content-wrapper h3 {
  padding-top: 45px;
  font-size: 1.75rem;
  margin-bottom: 0;
  text-transform: uppercase;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  transition: -webkit-transform ease-in 0.6s;
  transition: transform ease-in 0.6s;
  transition: transform ease-in 0.6s, -webkit-transform ease-in 0.6s;
}

.gallery ul .gallery__content-wrapper p {
  font-size: 1.375rem;
  font-weight: 300;
  -webkit-transform: translateY(75px);
          transform: translateY(75px);
  transition: -webkit-transform ease-in 0.6s;
  transition: transform ease-in 0.6s;
  transition: transform ease-in 0.6s, -webkit-transform ease-in 0.6s;
}

.gallery ul img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.generic a,
.generic .link {
  text-decoration: underline;
  color: #333;
}

.generic a:hover,
.generic .link:hover {
  color: #3f9ae9;
  text-decoration: none;
}

.generic h2 {
  font-size: 2.375rem;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.generic h3 {
  font-size: 1.375rem;
  text-transform: capitalize;
}

.generic p {
  line-height: 1.7;
  font-size: 14px;
  margin-bottom: 25px;
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.site-header.is-sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transform: traslateY(-50px);
          transform: traslateY(-50px);
  transition: all ease-in 0.6s;
}

.site-header .navbar-default {
  margin-bottom: 0;
  padding: 20px 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) -40%, rgba(255, 255, 255, 0) 100%);
  border: 0;
}

.site-header .navbar-default .navbar-nav {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .site-header .navbar-default .navbar-nav {
    float: right;
    margin-bottom: 0;
    margin-top: 3px;
    clear: both;
  }
}

.site-header .navbar-default .navbar-nav > li {
  margin-bottom: 25px;
  position: relative;
}

.site-header .navbar-default .navbar-nav > li:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #3f9ae9;
  transition: width ease-in 0.6s;
}

@media (min-width: 768px) {
  .site-header .navbar-default .navbar-nav > li {
    margin-bottom: 0;
    margin-right: 44px;
  }
}

.site-header .navbar-default .navbar-nav > li > a {
  font-size: 14px;
  color: #000;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .site-header .navbar-default .navbar-nav > li > a {
    text-transform: capitalize;
  }
}

.site-header .navbar-default .navbar-nav > li:hover > a {
  color: #3f9ae9;
}

.site-header .navbar-default .navbar-nav > li:hover:after {
  width: 100px;
}

@media (min-width: 768px) {
  .site-header .navbar-default .navbar-nav > li:hover:after {
    width: 60px;
  }
}

.site-header .navbar-default .navbar-toggle {
  right: 10px;
  top: 4px;
  z-index: 99;
  position: fixed;
  min-width: inherit;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.site-header .navbar-default .navbar-toggle.collapsed {
  position: absolute;
}

.site-header .navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(2) {
  -webkit-transform: rotate(0deg) translateX(0px);
          transform: rotate(0deg) translateX(0px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.site-header .navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(3) {
  opacity: 1;
  width: 26px;
}

.site-header .navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(4) {
  -webkit-transform: rotate(0deg) translateX(0px);
          transform: rotate(0deg) translateX(0px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.site-header .navbar-default .navbar-toggle .icon-bar {
  display: block;
  width: 26px;
  height: 3px;
  border-radius: 0;
  background-color: #333;
  transition: 0.6s all;
  transition-delay: 0.5s;
}

.site-header .navbar-default .navbar-toggle .icon-bar:nth-child(2) {
  -webkit-transform: rotate(45deg) translateX(-3px);
          transform: rotate(45deg) translateX(-3px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.site-header .navbar-default .navbar-toggle .icon-bar:nth-child(3) {
  opacity: 0;
  width: 0;
  transition: 0.2s all;
  transition-delay: 0.5s;
}

.site-header .navbar-default .navbar-toggle .icon-bar:nth-child(4) {
  -webkit-transform: rotate(-45deg) translateX(-3px);
          transform: rotate(-45deg) translateX(-3px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.site-header .navbar-collapse {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  right: -100%;
  position: fixed;
  top: 0;
  width: 280px;
  overflow-y: scroll;
  background: white;
  border: 0;
  box-shadow: none;
  transition: right ease-in 0.35s;
  padding: 30px 20px 0;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 768px) {
  .site-header .navbar-collapse {
    position: relative;
    right: 0;
    padding: 0;
    background: transparent;
    display: block;
    width: auto;
  }
}

.site-header .navbar-collapse.in {
  right: 0;
}

.site-header .collapse,
.site-header .collapsing,
.site-header .in {
  height: 100vh !important;
}

@media (min-width: 768px) {
  .site-header .collapse,
  .site-header .collapsing,
  .site-header .in {
    display: block;
    height: auto !important;
    float: right;
  }
}

.site-header .navbar-brand {
  padding: 0;
  height: auto;
  float: none;
}

.site-header .navbar-brand .l-icon {
  max-width: 180px;
  max-height: 25px;
}

.spotlight {
  position: relative;
  text-align: center;
}

.spotlight img {
  object-fit: cover;
  width: 100%;
}

.spotlight h1 {
  font-size: 2.25rem;
  font-size: 6vmax;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .spotlight h1 {
    font-size: 5rem;
  }
}

.spotlight p {
  font-size: 1.5rem;
  font-size: 3vmax;
  font-weight: 300;
}

@media (min-width: 1200px) {
  .spotlight p {
    font-size: 2.375rem;
  }
}

.spotlight .spotlight__content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.spotlight--home img {
  max-height: 100vh;
}

@media (max-width: 991px) {
  .spotlight--home img {
    min-height: 100vh;
  }
}

@media (min-width: 1441px) {
  .spotlight--home img {
    max-height: 865px;
  }
}

.tab .nav-tabs {
  margin-bottom: 30px;
  border-width: 2px;
}

.tab .nav-tabs > li {
  margin-bottom: -2px;
  text-align: center;
  width: 33.333%;
}

.tab .nav-tabs > li > a {
  text-transform: uppercase;
  font-size: 1.3125rem;
  line-height: 1;
  color: #333;
  font-weight: 300;
}

.tab .nav-tabs > li > a:hover {
  border-color: transparent;
  background-color: #3f9ae9;
  color: white;
}

.tab .nav-tabs > li.active > a, .tab .nav-tabs > li.active > a:hover, .tab .nav-tabs > li.active > a:focus {
  border-bottom-color: #3f9ae9;
  border-width: 2px;
}

.tab .tab__data {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .tab .tab__data {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.tab figure {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .tab figure {
    margin-bottom: 0;
  }
}

.tab figure img {
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .tab figure img {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .tab figure img {
    width: 460px;
    height: 300px;
  }
}

.tab .tab__description h3 {
  font-size: 1.4375rem;
  margin-bottom: 15px;
  text-transform: capitalize;
  font-weight: 700;
}

.tab .tab__description p {
  font-size: 0.875rem;
  margin-bottom: 25px;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .tab .tab__description {
    padding-left: 40px;
  }
}

/*@import end*/
