.gallery {
	ul {
		margin: 0 -10px;
		li {
			margin:0 10px 20px;
			float: left;
			list-style: none;
			width: calc(100% - 20px);
			@include media-breakpoint-up(xs) {
    			width: calc(50% - 20px);
			}			
			@include media-breakpoint-up(sm) {
    			width: calc(33.333% - 20px);
			}
		}
		.gallery__item {
			position: relative;
			width: 100%;
			&:hover {
				.gallery__content {
					visibility: visible;
					opacity: 1;
					transition: opacity ease-in 0.4s;
					h3,p {
					    transform: translateY(0);
					    transition: transform ease-in 0.6s;
					}
				}
			}
		}
		.gallery__content {
			visibility: hidden;
			transition: opacity ease-in 0.4s;
			opacity: 0;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: rgba(0, 173, 255, 0.8);
			color: white;
		}
		.gallery__content-wrapper {
			display: flex;
			align-items:center;
			flex-direction:column;
			height: 100%;
			justify-content:center;
			h3 {
				padding-top: 45px;
				font-size: rem(28);
				margin-bottom: 0;
				text-transform: uppercase;
			    transform: translateY(50px);
			    transition: transform ease-in 0.6s;
			}
			p {
				font-size: rem(22);
				font-weight: 300;
			    transform: translateY(75px);
			    transition: transform ease-in 0.6s;

			}
		}
		img {
			object-fit:cover;
			width: 100%;
			height: 100%;
		}
	}
}