// gallery
-var gallery = gallery
.gallery
	ul.gallery__list
		each item, index in gallery
			li( itemscope, itemtype="http://schema.org/ImageObject", data-aos="fade-up", data-aos-duration="1200", data-aos-delay=index*150)
				.gallery__item(data-src=item.path)
					figure
						img( itemprop="thumbnailUrl", src=item.img, alt="gallery")
					.gallery__content
						.gallery__content-wrapper
							h3 on rollover
							p Show this
				meta( itemprop="caption", content="Show this")
