extend ../pagelayout/home
block head
	style.
		html.loading #pageloader{
			position: fixed;
			top:0;
			right:0;
			left:0;
			bottom: 0;
			background: linear-gradient(to bottom, rgb(235, 238, 239) -40%, rgba(255, 252, 252, 1) 100%);
			z-index: 99999;
		}
		.loding_svg{
			width: 48px;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			left: 50%;
		}
		.sk-folding-cube {
			margin: 20px auto;
			width: 40px;
			height: 40px;
			position: relative;
			-webkit-transform: rotateZ(45deg);
			transform: rotateZ(45deg);
		}

		.sk-folding-cube .sk-cube {
			float: left;
			width: 50%;
			height: 50%;
			position: relative;
			-webkit-transform: scale(1.1);
			-ms-transform: scale(1.1);
			transform: scale(1.1); 
		}
		.sk-folding-cube .sk-cube:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #333;
			-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
			animation: sk-foldCubeAngle 2.4s infinite linear both;
			-webkit-transform-origin: 100% 100%;
			-ms-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
		}
		.sk-folding-cube .sk-cube2 {
			-webkit-transform: scale(1.1) rotateZ(90deg);
			transform: scale(1.1) rotateZ(90deg);
		}
		.sk-folding-cube .sk-cube3 {
			-webkit-transform: scale(1.1) rotateZ(180deg);
			transform: scale(1.1) rotateZ(180deg);
		}
		.sk-folding-cube .sk-cube4 {
			-webkit-transform: scale(1.1) rotateZ(270deg);
			transform: scale(1.1) rotateZ(270deg);
		}
		.sk-folding-cube .sk-cube2:before {
			-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s;
		}
		.sk-folding-cube .sk-cube3:before {
			-webkit-animation-delay: 0.6s;
			animation-delay: 0.6s; 
		}
		.sk-folding-cube .sk-cube4:before {
			-webkit-animation-delay: 0.9s;
			animation-delay: 0.9s;
		}

		@keyframes sk-foldCubeAngle {
			0%, 10% {
				-webkit-transform: perspective(140px) rotateX(-180deg);
				transform: perspective(140px) rotateX(-180deg);
				opacity: 0; 
			} 25%, 75% {
				-webkit-transform: perspective(140px) rotateX(0deg);
				transform: perspective(140px) rotateX(0deg);
				opacity: 1; 
			} 90%, 100% {
				-webkit-transform: perspective(140px) rotateY(180deg);
				transform: perspective(140px) rotateY(180deg);
				opacity: 0; 
			}
		}

block variables
block header
	#pageloader
		.loding_svg
			.sk-folding-cube
				.sk-cube1.sk-cube
				.sk-cube2.sk-cube
				.sk-cube4.sk-cube
				.sk-cube3.sk-cube

	include ../components/header/header

block footer
	include ../components/footer/footer

block spotlight
	-var modifierclass ='spotlight--home'
	include ../components/spotlight/spotlight 

block gallery
		-var gallery = [{img:'images/temp/gallery/gallery_small_01.jpg',path:'images/temp/gallery/gallery_01.jpg'}, {img:'images/temp/gallery/gallery_small_02.jpg', path:'images/temp/gallery/gallery_02.jpg'},{img:'images/temp/gallery/gallery_small_03.jpg',path:'images/temp/gallery/gallery_03.jpg'},{img:'images/temp/gallery/gallery_small_04.jpg',path:'images/temp/gallery/gallery_04.jpg'},{img:'images/temp/gallery/gallery_small_05.jpg',path:'images/temp/gallery/gallery_05.jpg'}, {img:'images/temp/gallery/gallery_small_06.jpg', path:'images/temp/gallery/gallery_06.jpg'}]
		include ../components/gallery/gallery

block generic
	include ../components/generic/generic

block slider
	-var extraclass = 'carousel--home'
	-var carouselData = [ '<img src="images/460*640.gif" class="lazyload" data-src="images/temp/slider/slider_01.jpg" alt="image 01" title="image 01" />', '<img src="images/460*640.gif" class="lazyload" data-src="images/temp/slider/slider_02.jpg" alt="image 02" title="image 02" />', '<img src="images/460*640.gif" class="lazyload" data-src="images/temp/slider/slider_03.jpg" alt="image 03" title="image 03" />', '<img src="images/460*640.gif" class="lazyload" data-src="images/temp/slider/slider_04.jpg" alt="image 04" title="image 04" />', '<img src="images/460*640.gif" class="lazyload" data-src="images/temp/slider/slider_05.jpg" alt="image 05" title="image 05" />', '<img src="images/460*640.gif" class="lazyload" data-src="images/temp/slider/slider_06.jpg" alt="image 06" title="image 06" />'];
	-var slickOptions =  {"dots":true, "arrows" : true, "slidesToShow": 2,"slidesToScroll": 2,"responsive": [{"breakpoint": 600,"settings": {"slidesToShow": 1,"slidesToScroll": 1}}]};
	include ../components/carousel/carousel

block highlight
	+coverImage("images/temp/spotlight/spotlight_02_w1400.jpg")

block tab
	-var tabData ={items : [{title : "tab 1", id: "tabone"},{title : "tab 2", id: "tabtwo"},{title : "tab 3", id: "tabthree"}],current : 0};
	include ../components/tab/tab

block foot
