.l-btn,
a.l-btn,
.btn {
  position:relative;
  vertical-align: middle;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #fff;
  line-height: 1;
  border-radius: 4px;
  font-weight: bold;
  font-size:15px;
  font-weight:700;
  padding: 13px 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition:0.8s;
  background: $primarycolor;
  cursor: pointer;
  &:before,
  &:after {
    width: 100%;
    height:100%;
    z-index: 3;
    content:'';
    position: absolute;
    top:0;
    left:0;
    transform: scale(0);
    transition: 0.8s;
    box-sizing: border-box;
  }
  &:before {
    border-bottom: 1px solid $primarycolor;
    border-left: 1px solid $primarycolor;
    transform-origin: 0 100%;
  }
  &:after {
    border-top: 1px solid $primarycolor;
    border-right: 1px solid $primarycolor;
    transform-origin: 100% 0%;
  }
  &:hover {
    border: 1px solid rgba(255,255,255,0);
    color: $primarycolor;
    background: rgba(255,255,255,0);
    &:before,
    &:after {
      transform: scale(1);
    }
  }
  &--white {
    background: white;
    color: $primarycolor;
    &:hover {
      background: transparent;
      color:#FFF;
    }
    &:after,
    &:before {
      border-color:white;
    }
  }
}

.mfp-close-btn-in button{
  &.mfp-close  {
    position: fixed;
    right: 0;
    top: 0;
    background: transparent;
    opacity: 1;
    cursor: pointer;
    color: #FFF;
    width: 50px;
    height: 50px;
    line-height: 1;
    font-size: 2em;
    font-family: initial;
  }

  &.mfp-arrow {
    background: url(../images/icons-svg/arrow.svg) no-repeat 0;
    opacity:1;
    width:22px;
    height:22px;
    margin: 0;
    transform: translateY(-50%);
    min-width: auto;
    &:before,
    &:after{
      display: none;
    }
    &.mfp-arrow-left{
      transform:rotate(180deg);
      left: 20px;
      transform-origin: center;
    }
    &.mfp-arrow-right{
      right: 20px;
    }
  }

}
