// Color
$primarycolor: #3f9ae9;
$textcolor: #333;
$headercolor: #000;
$footercolor: #FFF;
$bordercolor: #3f9ae9;
$errorcolor: #f14a4a;

// Layout
$grid-columns: 12;
$grid-gutter-width: 0;
$container-large-desktop: 1260px;

$container-max-widths: (
  sm: 100%,
  md: 940px,
  lg: 1140px,
  xl: 1260px,
  xxl: 1260px
);

$grid-breakpoints: (
  // Extra extra small screen / phone
  xxs: 360px,
  // Extra small screen / phone
  xs: 480px,
  // Small screen / phone
  sm: 768px,
  // Medium screen / tablet
  md: 992px,
  // Large screen / desktop
  lg: 1200px,
  // Extra large screen / wide desktop
  xl: 1441px,
  // Extra large screen / wide desktop
  xxl: 1600px
);

// Bootstrap Overrides

$navbar-default-bg: transparent;
$nav-tabs-active-link-hover-border-color:$primarycolor;
$nav-tabs-border-color:$primarycolor;
$input-height-base:38px;
$input-color:$textcolor;
$input-bg:#52a5eb;
$input-border:transparent;

// Typography

$em-base: 16;
$r: 'Roboto', sans-serif;
// $rl: 'Robotolight', sans-serif;
// $rb: 'Robotobold', sans-serif;

/* font */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

// @font-face {
//     font-family: 'Robotobold';
//     src: url('fonts/roboto-bold-webfont.woff2') format('woff2'),
//          url('fonts/roboto-bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }
// @font-face {
//     font-family: 'Robotolight';
//     src: url('fonts/roboto-light-webfont.woff2') format('woff2'),
//          url('fonts/roboto-light-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'Roboto';
//     src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
//          url('fonts/roboto-regular-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }



// Functions
// Convert pixels to ems
// eg. for a relational value of 12px write em(12) when the parent is 16px
// if the parent is another value say 24px write em(12, 24)
@function em($pxval, $base: $em-base) {
   @if not unitless($pxval){
    $pxval: strip-units($pxval);
  }
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return $pxval / $base * 1em;
}
@function rem($size, $base: $em-base) {
  $remSize: $size / $em-base;
  @return #{$remSize}rem;
}
//Mixins
//Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
//wrap text
%textwrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
// Arrow
@mixin arrow($direction: top, $size: 10px, $color: #ccc, $center: 50%, $margin: -1px, $pseudo: before, $pos: relative, $zindex: 1) {
  position: $pos;
  border-color: $color;
  &:#{$pseudo} {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-color: $color;
    @if $direction == "right" {
      top: $center;
      left: 100%;
      margin-left: $margin;
      margin-top: $size * -1;
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-left: $size solid $color;
      border-left-color: inherit;
      z-index: $zindex;
    }
    @else if $direction == "down" {
      top: 100%;
      left: $center;
      margin-top: $margin;
      margin-left: $size * -1;
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      border-top: $size solid $color;
      border-top-color: inherit;
      z-index: $zindex;
    }
    @else if $direction == "left" {
      top: $center;
      right: 100%;
      margin-right: $margin;
      margin-top: $size * -1;
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-right: $size solid $color;
      border-right-color: inherit;
      z-index: $zindex;
    }
    @else {
      bottom: 100%;
      left: $center;
      margin-bottom: $margin;
      margin-left: $size * -1;
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      border-bottom: $size solid $color;
      border-bottom-color: inherit;
      z-index: $zindex;
    }
  }
}

$breakpointsHeight: (
  // Extra extra small screen / iphone
  xxs: 320px,
  // Extra small Devices screen / phone
  xs: 480px,
  // Small Devices, Tablets screen / tablet
  sm: 650px,
  // Medium Devices, Desktops
  md: 800px,
  // Large Devices, Wide screen / desktop
  lg: 1260px
);


@mixin media-breakpoint-height($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpointsHeight, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media only screen and (max-height: $value) {
      @content;
    }
  }
}

@mixin ipadLand(){
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
    @content;
  }
}
@mixin iphone5Land(){
  @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape){
    @content;
  }
}
