form {
	.form-control  {
		box-shadow: none;
		&.error {
			border-color: $errorcolor;
		}
	}
	label {
		font-size: rem(14);
		font-weight: normal;
	}
	.error__message {
		display: none;
		font-size: 12px;
		color: darkred;
	}
	.form-wrapper {
		display: flex;
		flex-direction:column;
		@include media-breakpoint-up(sm) {
			flex-direction:row;

		}
		.form-group {
			margin-bottom: 10px;
			flex:1 1 50%;
			&:first-child {
				@include media-breakpoint-up(sm) {
					margin-right: 20px;
				}
			}
		}
	}
}
html {
	form {
		input[type="text"].form-control::-webkit-input-placeholder ,
		input[type="email"].form-control::-webkit-input-placeholder ,
		{
		  color: rgba(255,255,255,0.5);
		}
		
	}
	
}