//Layout styles
.container-fluid{
  max-width: 942px;
  padding: 0 15px;
  @include media-breakpoint-up(md) {
    padding: 0;
  }
}
.section {
    margin-bottom: 100px;
    &--tabs {
    	margin-bottom: 125px;
    }
    &--carousel {
    	margin-bottom: 45px;
    }
}