html, body {
  font-family: $r;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
  color:$textcolor;
}

body.ms-backgroundImage{
  background: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

*{
  table-layout: fixed;
}

*:focus,
a:focus{
  outline: 0;
}

::-ms-clear {
    display: none;
}

a,
a:link,
a:visited,
a:active{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

//icons
.l-icon{
  vertical-align: middle;
}

// Slick slider
.slick-slider {
  .slick-arrow,
  button.slick-arrow{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    border:2px solid transparent;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    outline: 0;
    transition: 0.8s background;
    background: url(../images/icons-svg/arrow.svg) no-repeat center center;
    &:after {
      content:"";
      position: absolute;
      width: 0;
      height: 3px;
      background-color: white;
      transition:width ease-in 0.6s;
    }
    &:hover {
      &:after {
        width: 35px;
      }
    }

    &.slick-prev{
      left: 25px;
      transform: rotate(180deg);
      &:after {
        top:11px;
        left:auto;
        right: 7px;
      }
    }

    &.slick-next{
      right: 25px;
      &:after {
        top:11px;
        left:auto;
        right: 7px;
      }
    }

    &.slick-disabled{
      background: #999 !important;
    }
  }
  .slick-dots{
    margin-top: 30px;
    li {
      float: none;
      margin: 0 2px;
    }
    display: flex;
    justify-content: center;
    button{
      background-color: #cbcbcb;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 0;
      font-size: 0;
      line-height: 0;
      min-width: 0;
      padding: 0;
      @include media-breakpoint-up(sm) {
        width:12px;
        height: 12px;
      }

    }
    .slick-active button{
      background-color: #333;
    }  
  }
}

[dir="rtl"] .slick-slide{
  float: left;
}

.mfp-zoom-out-cur {
  cursor: pointer;
}

.l-cover-image {
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
    @include media-breakpoint-up(sm) {
      background-attachment: fixed;
      height: 690px;
    }
}
