.tab {
	.nav-tabs {
		margin-bottom:30px;
		border-width: 2px;
		>li {
			margin-bottom: -2px;
			text-align: center;
			width: 33.333%;
			>a {
				text-transform: uppercase;
				font-size: rem(21);
				line-height: 1;
				color:$textcolor;
				font-weight: 300;
				&:hover {
					border-color: transparent;
					background-color: $primarycolor;
					color: white;
				}
			}
			&.active > a {
				&,
				&:hover,
				&:focus {
					border-bottom-color: $primarycolor;
					border-width: 2px;
				}
			}
		}
	}
	.tab__data {
		display: flex;
		flex-direction:column;
		@include media-breakpoint-up(sm) {
			flex-direction:row;
		}
	}
	figure {
		margin-bottom: 20px;
		@include media-breakpoint-up(sm) {
			margin-bottom: 0;
		}
		img {
			width: 100%;
			object-fit: cover;
			@include media-breakpoint-up(sm) {
				width: 300px;

			}			
			@include media-breakpoint-up(md) {
				width: 460px;
				height: 300px;

			}
		}
	}
	.tab__description {
		h3 {
			font-size: rem(23);
			margin-bottom: 15px;
			text-transform: capitalize;
			font-weight: 700;
		}
		p {
			font-size: rem(14);
			margin-bottom: 25px;
			line-height: 1.7;
		}
		@include media-breakpoint-up(sm) {
			padding-left:40px;
		}
	}
}