// tab
-var data = tabData
.tab
	+tab(data)
	.tab-content
		#tabone(class="active tab-pane")
			.tab__data
				figure
					img(src="images/460*300.gif", class="lazyload", data-src="images/temp/tab/tab_01.jpg", alt="image")
				.tab__description(data-aos="fade-up", data-aos-duration="1000")
					h3 curabitur ullamcorper sem sollicitudin
					p Fusce a convallis felis. consectetur adipisicing elit. Assumenda expedita ex dolores saepe cupiditate tenetur, modi iste sit veniam nesciunt omnis possimus temporibus maxime porro. Asperiores, quis, aspernatur. Nesciunt distinctio dolorum ex hic, cum tenetur aut est quis et maxime.
					a(href="#",class="l-btn", title="buy now")
						span buy now			

		#tabtwo(class="tab-pane")
			.tab__data
				figure
					img(src="images/460*300.gif", class="lazyload", data-src="images/temp/tab/tab_02.jpg", alt="image")
				.tab__description(data-aos="fade-up", data-aos-duration="1000")
					h3 curabitur ullamcorper sem sollicitudin
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem obcaecati aut neque asperiores eaque commodi perferendis laudantium dolor sunt velit. Vero consectetur unde dicta quibusdam velit dolorum veniam obcaecati voluptatum tempore minus odio possimus assumenda eveniet, nihil similique sunt voluptate magnam saepe! Dolorum, at, odio.
					a(href="#",class="l-btn",  title="buy now")
						span buy now			
		#tabthree(class="tab-pane") 
			.tab__data
				figure
					img(src="images/460*300.gif", class="lazyload", data-src="images/temp/tab/tab_03.jpg", alt="image")
				.tab__description(data-aos="fade-up", data-aos-duration="1000")
					h3 curabitur ullamcorper sem sollicitudin
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum iure a nisi vitae est, repellendus, beatae consequuntur ex veniam nobis ratione rem et eligendi voluptates tenetur voluptas at ipsum nam laudantium quisquam asperiores! Possimus aut iure, ducimus inventore quidem ipsa?
					a(href="#",class="l-btn",  title="buy now")
						span buy now

