.spotlight {
	position: relative;
	text-align: center;
	img {
		object-fit:cover;
    	width: 100%;
	}
	h1 {
		font-size: rem(36);
		font-size: 6vmax;
		font-weight: 700;
		margin-bottom: 20px;
		text-transform: uppercase;
		@include media-breakpoint-up(lg){
			font-size: rem(80);

		}
	}
	p {
		font-size: rem(24);
		font-size: 3vmax;
		font-weight: 300;
		@include media-breakpoint-up(lg){
			font-size: rem(38);

		}
	}
	.spotlight__content {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	&--home {
		img {
			max-height: 100vh;	
			@include media-breakpoint-down(sm){
				min-height: 100vh;
			}		
			@include media-breakpoint-up(xl){
				max-height: 865px;
			}
		}
	}
}