// spotlight 
.spotlight(class=modifierclass)
	picture
		source( media="(min-width: 1024px)", srcset="images/temp/spotlight/spotlight_01_w_1400.jpg")
		source( media="(min-width: 768px)", srcset="images/temp/spotlight/spotlight_01_w_1022.jpg")
		img( src="images/temp/spotlight/spotlight_01_w_761.jpg", alt="spotlight image")
	.spotlight__content
		.container-fluid
			.row
				.col-sm-12
					h1(data-aos="fade-down", data-aos-duration="1200") full screen image 
					p(data-aos="slide-up", data-aos-duration="1200") Roboto Font Used Throughout

