//- PUG MIXINS

//- Image mixin
mixin img(obj)
  -if(obj && obj.src){
    img(src=obj.src, alt=obj.alt, title=obj.alt, width=obj.width, height=obj.height, class=obj.class, id=obj.id)
  -}else{
    img(src=obj[0], alt=obj[1], title=obj[1], width=obj[2], height=obj[3], class=obj[4], id=obj[5])
  -}

//- loader
mixin loader()
  .loader
    +img(["images/loader.gif", "Loading"])

//- SVG Icon mixin
mixin svgicon(id, obj)
  -var defaultClass = 'l-icon'
  -var obj = obj || {}
  -if(obj.type == 'logo'){
    svg(class=[obj.class, defaultClass], itemprop='logo' )
      use(xlink:href=obj.path || 'images/icons-svg.svg#' + id)    
  -}else{
    svg(class=[obj.class, defaultClass])
      use(xlink:href=obj.path || 'images/icons-svg.svg#' + id)

  -}

  

//- Tab mixin
mixin tab(obj)
  -var obj = obj || {}
  ul.nav.nav-tabs
    each val, index in obj.items
      -if(index == obj.current){
        li.active(role="presentation")
          a(href="#"+val.id, title=val.title, data-toggle="tab")
            span!=val.title
      -}else{
        li(role="presentation")
          a(href="#"+val.id, title=val.title, data-toggle="tab")
            span!=val.title
      -}

//- Cover Image
mixin coverImage(image)
  div.l-cover-image(data-coverimg=image)
