include _mixin
-var page = ''
-var bodyClass = ''
-var pagetitle = ''
-var sitetitle = ''
block variables
doctype html
html.no-js.loading(dir=lang == 'ar' ? 'rtl' : 'ltr',lang=lang == 'ar' ? 'ar' : 'zxx')
  head
    title sample page
    link(rel="preconnect" href="//mgmanoj.bitbucket.io")
    link(rel="apple-touch-icon", sizes="180x180", href="images/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="images/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="images/favicons/favicon-16x16.png")
    link(rel="mask-icon", href="images/favicons/safari-pinned-tab.svg", color="#5bbad5")
    link(rel="shortcut icon", href="images/favicons/favicon.ico", type="image/vnd.microsoft.icon")
    meta(name="theme-color", content="#ffffff")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=yes')
    meta(name='keywords', content='sample keywords')
    meta(name='description', content="sample description")
    meta(property="og:image", content="")
    meta(property="og:title" content="")
    meta(property="og:url" content="")
    meta(property="og:site_name" content="")
    meta(name="format-detection" content="telephone=no")

    link(rel="manifest" href="manifest.webapp")

    include _styleLinks
    block stylelinks

    block head
  body.no-js(dir=lang == 'ar' ? 'rtl' : 'ltr', class=page + bodyClass)
    // Page Wrapper
    #page-wrap
      block header
      block body
      block footer
    include _scriptLinks
    block foot
