footer.site-footer
	.container-fluid
		.row
			.col-sm-12
				h3 join mailing list
				form.form.form--newsletter
					.form-wrapper
						.form-group
							label(for="name") Name:
							input(type="text",class="form-control",id="name" name="Name" placeholder="Enter your name")
							span.error__message Please enter your name
						.form-group
							label(for="email") Email Adress:
							input(type="email",class="form-control",id="email"  name="Email" placeholder="Enter your email")
							span.error__message Please enter valid Email
					button(type="submit",class="l-btn l-btn--white") Submit