.carousel{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      display: inline-block;
    }
  }

  img{
    max-width: 100%;
    width: 100%;
    object-fit:cover;
  }
  &--home {
    margin: 0 -10px;
    .slick-slide {
      margin: 0 10px;
      img {
        max-height: 640px;
      }
    }
  }
}





